/* Hide scrollbar for webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
